/* .messaging-history #messages-list .user-message {
    text-align: right;
} */

.messaging-container {
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 400px;
    max-width: 90vw;
}

.messaging-container .bot-messenger-info {
    display: flex;
    flex-direction: row;
}

.messaging-history .message-item.user-message {
    width: fit-content;
    max-width: 300px;
    overflow-wrap: break-word;
    text-align: right;
    border-top-right-radius: 0%;
    align-self: flex-end;
    background-color: #04eeb8;
    color: white;
    margin-left: auto;
    margin-right: 5px;
}

.messaging-history .message-item.bot-message {
    width: fit-content;
    max-width: 300px;
    overflow-wrap: break-word;
    border-top-left-radius: 0%;
    align-self: flex-start;
    background-color: #eee;
    color: black;
    margin-left: 5px;
    margin-right: auto;
}

.messaging-history .message-item {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.messaging-history #messages-list {
    list-style: none;
    padding-left: 0px;
}

/* Message bar */

.message-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.message-bar input {
    line-height: 20px;
}

.message-bar div #message-input {
    border-radius: 50px;
    width: 100%;
    text-indent: 20px;
}

.message-bar .text-input {
    flex-grow: 1;
    padding-right: 20px;
}

.message-bar .send-message-container #send-button {
    min-height: 20px;
    min-width: 100px;
    max-width: fit-content;
    border-radius: 50px;
    background-color: #04eeb8;
}