extends layout 

block content
    div.chatbot-panel-container
        div.create-chatbot-form
            div.form-container
                div
                    h2 Chatbot creation and configuraiton panel
                form(action="/chatbots", method="post") 
                    input(type="string", name="chatbot_name", placeholder="Enter the chatbot name here", required="true")
                    input(type="string", name="path", required="true", value="standard.rive", hidden)
                    input(type="submit", value="create the chatbot")
        div.available-bots
            div.bots-container
                div
                    h2 Available bots
                div
                    ul#bots
                        each bot in bots ? bots : []
                            li
                                a(id=bot._id, class='chatbot-element')= bot.name
                                button.bot-modify-button(value=bot._id) Modifier
                                if bot.access
                                    div.chatbot-element-toggler
                                        div.badge Acces discord 
                                        label(class='toggler-wrapper style-1')
                                            input(type='checkbox')
                                            div.toggler-slider
                                                div.toggler-knob
                div#chatbot-modify-modal(hidden=true)
                    h2 chatbot modification
                    p bot Id : 
                        b#modify-bot-id
                    select(name='brains', id='brain-select')
                    p#selected-brains
                    input(type="string", placeholder='Enter here your discord bot token here')
                    button#modify-validate-button Sauvegarder




    script(src="/scripts/bots-loader.js")