extends layout 

block content
    h2 CHATBOT CREATION AND CONFIGURATION PANEL
    div.create-chatbot-form
        form(action="/chatbots", method="post") 
            input(type="string", name="chatbot_name", placeholder="Enter the chatbot name here", required="true")
            input(type="string", name="path", required="true", value="standard.rive", hidden)
            input(type="submit", value="create the chatbot")